<div class="row sobremi d-flex align-items-center">
    <div class="col-lg-6 col-sm-12">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1>About</h1>
            </div>
            <div class="col-lg-8">        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Molestias nemo porro voluptatibus nesciunt nobis quos delectus laboriosam atque, eum quaerat, 
            dolorum doloremque laudantium iure est possimus,quae iusto dolores architecto!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestias nemo porro voluptatibus nesciunt nobis quos delectus laboriosam atque, eum quaerat, 
                dolorum doloremque laudantium iure est possimus,quae iusto dolores architecto!</p>
            </div>
        </div>
        
            
                <div class="row justify-content-center">
                <div class="col-lg-2 col-md-6">
                    <i class="fab fa-2x fa-github"><a href="https://github.com/Eg139"></a></i>
                  </div>
                  <div class="col-lg-2 col-md-6">
                    <a href="https://www.linkedin.com/in/eric-alejandro-guzman/"><i class="fab fa-linkedin-in fa-2x"></i></a>
                  </div>
                  <div class="col-lg-4">
                    <button class="btn btn-outline btn-danger" type="submit">DESCARGA MI CV</button>
                  </div>
            </div>  
    </div>
    <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
        <img src="../../../assets/Imagenes/nali.jpg">
    </div>
</div>


<div id="tecnologias" class="row">
    <div class="container">
        <div class=" col-12">
            <h2>Tecnologias de Programacion</h2>
          </div>
          
          <div class="row">
      
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
              
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
              
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
      
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
      
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
      
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
          </div>
          
          <div class="row">
      
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
              
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
              
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
      
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
      
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
      
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
          </div>
      
          <div class="row">
      
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
              
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
              
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
      
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
      
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
      
              <div class="col-2">
                  <div class="card" style="width: 11rem;">
                      <img src="../../../assets/Imagenes/js.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Javascript</p>
                      </div>
                    </div>
              </div>
          </div>
    </div>      
          
  </div>

  <section class="container-fluid cosas">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6 col-sm-12">
            <div class="row hablar">
              <div class="col-lg-3 iconitos">
                <i class="fas fa-comment-alt fa-5x"></i>
              </div>
              <div class="col-lg-6">
                <h3>Idiomas</h3>
                <p>English-Elementary A2<br>Espanish-Nativo</p>
              </div>
            </div>
        </div>
  
        <div class="col-lg-6 col-sm-12">
          <div class="row hablar">
            <div class="col-lg-3 iconitos">
              <i class="fas fa-star fa-5x"></i>
            </div>
            <div class="col-lg-6">
              <h3>Hobiies</h3>
              <p>Electronics<br>Robotics<br>Videogames<br>Repair computers</p>
            </div>
          </div>
      </div>
        </div>
    </div>
  </section>
