<footer id="foot">
    <div class="row">
      <div class="col-lg-1 col-md-6">
        <i class="fab fa-2x fa-github"><a href="https://github.com/Eg139"></a></i>
      </div>
      <div class="col-lg-1 col-md-6">
        <a href="https://www.linkedin.com/in/eric-alejandro-guzman/"><i class="fab fa-linkedin-in fa-2x"></i></a>
      </div>
      <div class=" col-lg-3 col-sm-12">
        <a href="https://depcsuite.com/">Patrocinado por DePC Suite</a>
      </div>
      <div class=" col-lg-3 col-sm-12">
          <a href="mailto:eric.guzman.139@gmail.com">eric.guzman.139@gmail.com</a>
      </div>
    </div>
  </footer>
